   <!--header area start-->
    <header class="">
      <label for="check" >
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area justify-content-center left_margin">
        <h3>Ing <span>System</span></h3>
      </div>
      <div class="right_area justify-content-center">
        <a href="#" class="logout_btn">Cerrar Sesión</a>
      </div>
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="#"><i class="fas fa-desktop"></i><span>Inicio</span></a>
        <a href="#"><i class="fas fa-cogs"></i><span>Boletas</span></a>
         <a (click)="market()" href="#collapseExample" class="{{mark}}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-file-pdf" ></i><span>Reportes</span></a>
        <div class="collapse" id="collapseExample" class="{{mark}}" title="Reportes">
          <a href="#"placement="right" ngbTooltip="Reporte A" title="Reporte A"><i class="fas fa-file-pdf"></i><span>Reporte A</span></a>
          <a href="#" placement="right" ngbTooltip="Reporte B" title="Reporte B"><i class="fas fa-file-pdf"></i><span>Reporte B</span></a>
        </div>
        <a href="#collapse" (click)="marketOthersMethod()" class="{{marketOthers}}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse"><i class="fas fa-th"></i><span>Otros</span></a>
        <div class="collapse" id="collapse" class="{{marketOthers}}" title="Reportes">
          <a href="/sexo"placement="right" ngbTooltip="Reporte A" title="Reporte A"><i class="fas fa-file-pdf"></i><span>Sexos</span></a>
          <a href="/departamento" placement="right" ngbTooltip="Reporte B" title="Reporte B"><i class="fas fa-file-pdf"></i><span>Departamentos</span></a>
          <a href="/clasificador" placement="right" ngbTooltip="Reporte B" title="Reporte B"><i class="fas fa-file-pdf"></i><span>Clasificador</span></a>
          <a href="/respuesta_legal" placement="right" ngbTooltip="Reporte B" title="Reporte B"><i class="fas fa-file-pdf"></i><span>Respuesta legales</span></a>
          
        </div>
        <a href="#"><i class="fas fa-info-circle"></i><span>Cubo</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->